<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.blog.dao.BlogTypeDao">
    <resultMap id="BlogTypeResult" type="BlogType">
        <id property="id" column="id" />
        <result property="typeName" column="type_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="blogCount" column="blogCount"/>
    </resultMap>

    <insert id="addBlogType" parameterType="BlogType" keyProperty="id" useGeneratedKeys="true">
        insert into db_blog.t_blogtype
        <trim prefix="(" suffix=")" suffixOverrides=",">

        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="typeName!=null and typeName!=''">
                #{typeName},
            </if>
            <if test="orderNum!=null and orderNum!=''">
                #{orderNum},
            </if>
        </trim>
    </insert>
    <delete id="deleteBlogType" parameterType="java.lang.Integer">
        DELETE FROM db_blog.t_blogtype where id=#{id}
    </delete>
    <update id="updateBlogType" parameterType="BlogType">
        update db_blog.t_blogtype
        <set >
            <if test="typeName!=null and typeName!=''">
                type_name = #{typeName},
            </if>
            <if test="orderNum!=null and orderNum!=''">
                order_num = #{orderNum},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="getById" parameterType="java.lang.Integer" resultMap="BlogTypeResult" >
        SELECT id,type_name,order_num from db_blog.t_blogtype
            where id = #{id}
    </select>
    <select id="listByPage" resultMap="BlogTypeResult">
       SELECT id,type_name,order_num from db_blog.t_blogtype
           limit #{start} ,#{end}
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        SELECT COUNT(id) from db_blog.t_blogtype
    </select>
    <select id="getBlogTypeData" resultMap="BlogTypeResult">
        SELECT
        t2.*,
        COUNT(t1.id) AS blogCount
        FROM
        t_blog t1
        RIGHT JOIN t_blogtype t2
        ON t1.type_id = t2.id
        GROUP BY t2.type_name
        ORDER BY t2.order_num
    </select>

</mapper>